<div class="m-5">
  <div class="search-form">
    <%= search_form_for @q do |f| %>
      <div class="row no-padding no-margins">
        <div class="col-md-2">
          <div class="field m-2">
            <%= f.label :name %><br>
            <%= f.search_field :name_cont %>
          </div>
        </div>
      </div>
      <%= f.submit "検索", class: "btn btn-primary btn-sm m-2" %>
    <% end %>
  </div>
</div>

