<div class="jumbotron">
  <div class='index-content text-center'>
    <h1 class='home-index'>Sinka School</h1>

    <div class='index-btn d-flex justify-content-around'>
      <%= link_to 'Mentor', "/mentors", class: "btn btn-success btn-lg" %>
      <%= link_to 'User', "/users", class: "btn btn-success btn-lg" %>
      <%= link_to 'Admin', "/admins", class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>