<div id='calendar'></div>
<%= javascript_pack_tag 'calender/temp_schedule' %>

<div class="modal" id="create-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">予定登録</h5>
        <a href="#" class="btn-close" data-dismiss="modal" aria-label="close"></a>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<div class="modal" id="edit-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">予定詳細</h5>
        <a href="#" class="btn-close" data-dismiss="modal" aria-label="close"></a>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<div class="modal" id="response-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="btn-close" data-dismiss="modal" aria-label="close"></a>
      </div>
      <div class="response-modal-body">
      </div>
    </div>
  </div>
</div>