<div class="row">
  <div class="profile_box">
    <ul>
      <li class='form-control'>タイトル： <%= @reservation.title %></li>
      <li class='form-control'>開始時刻： <%= @reservation.start_date.strftime('%Y年%m月%d日 %H:%M') %></li>
      <li class='form-control'>終了時刻： <%= @reservation.end_date.strftime('%Y年%m月%d日 %H:%M') %></li>
    </ul>
  </div>
</div>