<div class="jumbotron">
  <div class='index-content text-center'>
    <h1 class='home-index'>おはようございます！</h1>

    <div class='index-btn d-flex justify-content-around'>
      <%= link_to '稼働開始', attendances_path, method: :post, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>