<% if @attendance %>
  <%= render "attendances/edit", resource: @attendance %>
<% else %>
  <%= render "attendances/new", resource: @attendance %>
<% end %>

<p id="notice"><%= notice %></p>
<h1>勤務時間推移</h1>
<%= column_chart @attendances, width: '600px', height: '400px', colors: ['#b00'] %>